  <div class="left">
     <%= t('searchresidential_html') %>
   <%= form_tag search_residentials_path, method: :get do %>
          <p>
        <%= text_field :search, params[:search], placeholder: t('searchtextbox'),class: "form-control" %><br>
    
<br>
 <%= submit_tag t('searchbtn'), name: nil ,class: "btn btn-primary" %>
      </p>
</div>
      <% end %>
      <br>
      <br>
      <p>

    <div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_residentialtitle_html') %>
  
 </div>
 </div>            
 <br><br>
<div class="center"> 
<div class="row">
  <% @residentials.each do |residential| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag(residential.image.url), residential %>
      <div class="caption">
        <h4><strong><%= label_tag :nil, "NOMBRE DEL PACIENTE" %></strong></h4>
        <h3><strong><%= residential.construction_type %></strong></h3>
          <p>   <p><%= t('listed_by', user: residential.user.name) %></p>
            
          <h5><strong><%= label_tag :nil, "NUMERO DE IDENTIDAD" %></h5></strong><h4><%= residential.mls_number %></h4><br>
          <h5><strong><%= label_tag :nil, "SEXO DEL PACIENTE" %></strong></h5>
          <h4><%= residential.action %></h4>
          <h5><strong><%= label_tag :nil, "EDAD DEL PACIENTE" %></strong></h5>
          <h4><%= residential.half_bathrooms %></h4>
          <h5><strong><%= label_tag :nil, "MUNICIPIO" %></strong></h5>
          <h4><%= residential.wheelchair %></h4>
          <h5><strong><%= label_tag :nil, "DEPARTAMENTO" %></strong></h5>
          <h4><%= residential.area_tennis %></h4>
          <h5><strong><%= label_tag :nil, "SERVICIO DE ATENCION" %></strong></h5>
          <h4><%= residential.property_type %></h4>
          <h5><strong><%= label_tag :nil, "REFERENCIA ENVIADA A" %></strong></h5>
          <h4><%= residential.keymap %></h4>
            <br>

          </p>
          <%= link_to 'Show', residential, class: "btn btn-default" %>
          <% if (user_signed_in?) && (current_user == residential.user) %>
          <%= link_to 'Edit', edit_residential_path(residential), class: "btn btn-default" %>
          <%= link_to 'Delete', residential, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
           <% end %>
 </div>
    </div>
  </div>

  <% end %>

</div>
</div>

<br>
<% if user_signed_in? %>
<%= link_to t('new_residential'), new_residential_path, class: "btn btn-success" %><br><br><br>
<center><%= link_to 'Imprimir Reporte ATA', residentials_path(format: 'pdf'), class: "btn btn-primary" %></center><br>
<% end %>
<br>

<!--<h1>Listing residentials</h1>-->


