<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
			<div class="left">
			<h5 style="font-family:Calibri">
				<center><link><a href="/pages/home"><font color="white"><strong><h4>APOYADO POR:</h4></strong></font></a></link></center>
				<right><%= image_tag("gobiernorepublica.gif", :size => "300x180", :alt => "SecretariaSalud" ) %></right><br>

				Copyright &copy; 2015 <link><a href="http://www.dngglobal.ca" target="_blank"><strong>D&G Global INC</strong></a></link><br>
				All Rights Reserved 
				<link><a href="/pages/termsofuse"><font color="white">Terms & Conditions</font></a></link>|
				<link><a href="/pages/privacypolicy"><font color="white">Privacy Policy</font></a></link></h5>
		 	</div>
		 </div>
			<div class="col-sm-3">
			<div class="left">
				<%= t('contact_html') %>
				<link><a href="/pages/home"><font color="white">mancomunidadchorti@yahoo.es</font></a></link><br>
				<link><a href="/pages/home"><font color="white">comunicacionessalud@yahoo.com</font></a></link><br><br>
				<link><a href="https://mocaph.wordpress.com/miembros/capitulo-occidente/mancomunidad-chorti/"><font color="white"><strong>MANCOMUNIDAD CHORTI</strong></font></a></link><br><br>
				<center><%= image_tag("mancomunidad.gif", :size => "120x120", :alt => "Mancomunidad" ) %></center>

				</div>
			</div>
				<div class="col-sm-3">
				<div class="left">
				<%= t('about_html') %>
				<link><a href="http://www.salud.gob.hn/index.html"><font color="white"><strong>SECRETARIA DE SALUD HONDURAS</strong></font></a></link><br>
				<center><%= image_tag("secreatria.gif", :size => "100x100", :alt => "Secretaria" ) %></center>
				</div>
			</div>

		<div class="form-group">	
		<div class="col-sm-3">
			<div class="left">
			<%= t('follow_html') %>
			
			<div class="form-group">
			<div class="row">
				<center><link><a href="/pages/home"><font color="white">Organizacion Panamericana de la Salud</font></a></link></center>
        		<center><a href="http://www.paho.org/hq/"><%= image_tag("ops.gif", :size => "250x80", :alt => "OPS" ) %></a></center>
        		<center><link><a href="/pages/home"><font color="white">Organizacion Mundial de la Salud</font></a></link></center>
        		<center><a href="http://www.who.int/countries/hnd/es/"><%= image_tag("oms.gif", :size => "250x80", :alt => "OMS" ) %></a></center>
    		</div>
        	</div>
        </div>
    </div>
		</div>
		</div>
		</div>
	</div>
</footer>
</div>
</nav>
